@charset "utf-8";

.fw {

	// ----------------------------------------------------------
	// chatSupport
	// ----------------------------------------------------------
  .o-chatSupport {
    display: none;
    
    .inner {
      position: relative;
    }
    
    &_closeBtn {
      display: block;
      position: absolute;
      width: 11px;
      height: 11px;
      background-image: url(../images/chat/close.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      top: 10px;
      right: 10px;
    }
    
    &.active {
      display: block;
      animation-name: csactive;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-delay: 0s;
      animation-iteration-count: 1;
      
      .o-chatSupport_contents.phaseAfter {
        display: block;
        opacity: 0;
        animation-name: cscontactive;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 0s;
        animation-iteration-count: 1;
      }
      .o-chatSupport_contents.phaseInit {
        animation-delay: 0.8s;
      }
      
    }
    
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 90;
    width: 265px;
    
    &_contents {
      background-color: #dcedff;
      border: 2px solid #fff;
      border-radius: 10px;
      @include pd(20px 10px);
      @include mr(20px);
      @include mb(20px);
      position: relative;
      display: none;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      
      &:after {
        content: "";
        position: absolute;
        bottom:-10px;
        border-left:2px solid #fff;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #dcedff;
        border-top: 2px solid #dcedff;
        width: 14px;
        height: 14px;
        background:#dcedff;
        transform: rotate(-34deg) skewY(-20deg);
      	right: 13px;
        box-shadow: -2px 2px 2px rgba(0,0,0,.2);
      }
      
      .ttl {
        color: $color_main;
        font-weight: bold;
        @include fontSize(18px);
        text-align: center;
        @include mb(10px);
      }
      
      .box {
        display: table;
        table-layout: fixed;
        @include mb(10px);
        figure {
          display: table-cell;
          vertical-align: middle;
          width: 55px;
        }
        p {
          display: table-cell;
          vertical-align: middle;
          @include fontSize(12px);
          @include pl(10px);
          line-height: 1.8;
        }
      }
      
      .btn {
        width: 100%;
        @include fontSize(12px);
      }
      
      
    }
    &_toggleBtn {
      text-align: right;
      @include pr(16px);
      @include pb(6px);
    
      button {
        padding: 0;
        border: none;
        background: transparent;
      }
      
      button img {
        display: block;
      }

      button {
        width: 52px;
        height: 52px;
      }
    }
    
  }

}//.fw

@keyframes csactive {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes cscontactive {
  from {opacity: 0; top: 20px}
  to {opacity: 1; top: 0}
}