@charset "utf-8";

.fw {

    // ----------------------------------------------------------
    // Button
    // ----------------------------------------------------------
    h1.aaaa {
      font-size: 120px;
      line-height: 1.6;
      color: green;
    }

}//.fw
